# 1

In [2]:
print("Twinkle, twinkle, little star", end='\n\t');
print( "How I wonder what you are!", end='\n\t\t');
print("Up above the world so high," , end='\n\t\t');
print("Like a diamond in the sky.");
print("Twinkle, twinkle, little star,", end='\n\t');
print("How I wonder what you are");

Twinkle, twinkle, little star
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are

# 2

In [3]:

from platform import python_version;
print(python_version());

3.8.8

# 3

In [4]:
from datetime import datetime;
now = datetime.now();
print("now =", now);
dt_string = now.strftime("%d/%m/%Y %H:%M:%S");
print("date and time =", dt_string);

now = 2021-10-24 03:25:31.241481
date and time = 24/10/2021 03:25:31

# 4

In [5]:
from math import pi;
r = float(input ("Enter radius of circle : "));
print ("Area of the circle is: " + str(pi * r**2));

Enter radius of circle : 50
Area of the circle is: 7853.981633974483

# 5

In [6]:
first_name= input("enter your first name ");
last_name = input("enter your last name ");
print (last_name,first_name);

enter your first name tahir
enter your last name hussain
hussain tahir

# 6

In [7]:
first_nu=int(input());
second_nu=int(input());
print(first_nu+second_nu);

10
60
70

# 7

In [8]:
isl=int(input("islamit marks "))
math=int(input("math marks "))
eng=int(input("english marks "))
urdu=int(input("urdu marks "))
sindhi=int(input("sindhi marks "))
total_marks= 500
obtain_marks=isl+math+eng+urdu+sindhi
percent = obtain_marks/total_marks*100
if percent<100 and percent>=80:
    print("Gade A+");
elif percent<100 and percent >=70:
    print("Grade A");
elif percent<100 and percent >=60:
    print("Grade B")
elif percent<100 and percent >=50:
    print("Grade C");
elif percent<100 and percent >=40:
    print("Grade D");
elif percent<100 and percent >=33:
    print("Grade E");
else:
    print("Fail")

islamit marks 76
math marks 7
english marks 76
urdu marks 76
sindhi marks 76
Grade B

# 8

In [9]:
num=int(input("enter your number "));
if (num%2) ==0:
    print("even");
else:
    print("odd");

enter your number 65
odd

# 9

In [11]:
numbers =[1,2,3,4,5,6,7,8,9];
len(numbers)

9

# 10

In [12]:
numbers =[1,2,3,4,5,6,7,8,9];
print (sum(numbers));

45

# 11

In [14]:
numbers =[1,2,3,4,5,6,7,8,9];
max(numbers)

9

# 12

In [15]:
a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89];
print(a[:4]);

[1, 1, 2, 3]